.bg-web {
     background-color: rgba(20, 79, 241, 0.5);
}
.bg-ios {

    background-color: rgba(247, 222, 6, 0.5);
}
.bg-inapp {
    background-color: rgba(252, 11, 220, 0.5);
}
.bg-thcli {
    background-color: rgba(33, 235, 235, 0.5);
}
.bg-and {
    background-color: rgba(68, 236, 26, 0.5);
}